* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  height: 100vh;
}

body {
  background-image: linear-gradient(to right, #0000FF -150%, #0000b3, #009186 60%);
  font-family: Roboto, Arial, sans-serif;
}

section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
  font-size: 32px;
  letter-spacing: 1px;
  margin: 20px 0;
  color: white;
}

form {
  margin: 20px 0;
  background-color: white;
  padding: 30px 25px;
  border-radius: 5px;
}

form .input-block {
  margin-bottom: 20px;
}

form .input-block label {
  font-size: 14px;
  color: #009186;
}

form .input-block input {
  width: 100%;
  display: block;
  margin-top: 8px;
  padding: 7px;
  font-size: 16px;
  color: 009186;
  border-radius: 2px;
  border: 1px solid #ccddef;
  outline-color: #009186;
}

form .btn-login {
  display: block;
  min-width: 120px;
  border: none;
  background-color: #009186;
  color: white;
  border-radius: 25px;
  margin: auto;
  padding: 7px;
}


/*Desafio 02*/
form{
  overflow: hidden; /*esconde a animacao fora o form*/
  animation: fade 0.2s;
}

form .input-block:nth-child(1) {
  animation-name: move; /*Chamando o evento de animação*/
  animation-duration: 0.5s; /*Tempo de animação*/
  
}

form .input-block:nth-child(2) {
  animation-name: move; /*Chamando o evento de animação*/
  animation-duration: 0.4s; /*Tempo de animação*/
  animation-delay: 0.10s; /*Demora um pouco paara ser visto*/
  animation-fill-mode: backwards ; /*Espera um evento acabar para ele iniciar*/
}

form .btn-login {
  animation-name: move; /*Chamando o evento de animação*/
  animation-duration: 0.4s; /*Tempo de animação*/
  animation-delay: 0.25s; /*Demora um pouco paara ser visto*/
  animation-fill-mode: backwards ; /*Espera um evento acabar para ele iniciar*/
}

/*Keyframes tem um tempo de inicio(from) e tempo e saida(to), ele auxilia nas animacoes*/
@keyframes move {
  from {
    opacity: 0;/* suaviza a entrada do elemento*/
    transform: translateX(-35%); /*Movimenta do eixo x*/
    
  }
  to {
    opacity: 1; /*suaviza o tamnhop total do elemento */
    transform: translateX(0%); /*movimenta ate chegar a posição 0*/
  }
}


@keyframes fade {
  from {
    opacity: 0;/* O modo de sombra em que a animação vai iniciar*/
    transform: scale(0.9); /*Tamanho em que a animação vai durar*/
  }
  to {
    opacity: 1; /* O modo de sombra em que a animação vai ficar */
    transform: scale(1); /*Tamanho em que a animação vai ficar no final da animação*/
  }
}

